<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.friend.dao.FriendRequestMapper">


    <select id="listAllRequestFriend" parameterType="com.dkm.friend.entity.vo.IdVo" resultType="com.dkm.friend.entity.vo.FriendRequestInfoVo">
        select f.id as 'id',u.nick_name as 'fromNick',u.id as 'fromId',
        DATE_FORMAT(f.request_time, '%Y-%m-%d %H:%i:%s')as 'requestTime',f.status as 'status',
        f.request_remark as 'requestRemark',u.head_url as 'headUrl'
        from tb_friend_request f join tb_user u on f.from_id = u.id
        <where>
            <foreach collection="list" item="item" index="index" separator="or">
                f.from_id = #{item.fromId}
            </foreach>
        </where>
    </select>


</mapper>